@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .jumbotron {
        background-image: url(http://slyflourish.com/images/fpm_banner.jpg);
        color:white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
</style>

<div class="jumbotron">
    <h1>D&D Monster Loot</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Check out the D&D Monster Loot App</h2>
        <p>
            Tired of always giving out gold after an epic battle? 
            Check out the Monster Loot App where you can find awesome
            custom made items for each monster!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Like what you see?
        Add to it!</h2>
        <p>Love the Loot App? Make it better by adding your own item ideas and monsters!</p>
        <p>

        </p>
    </div>
    <div class="col-md-4">
        <h2>Join us today</h2>
        <p>What are you waiting for?! Click away!</p>
        <p>

        </p>
    </div>
</div>